# FastAPI Server & Streaming
fastapi
uvicorn[standard]
pydantic
pydantic-settings
python-dotenv
starlette

# Data Analysis & Financial Technicals
pandas
numpy
matplotlib
seaborn
pyarrow
yfinance
finvizfinance

# AI / Embeddings / Vector Search / LLMs
chromadb
sentence-transformers
langchain-core
langchain-groq
groq
tensorflow
torch

# Web Scraping & Search Engine Fetchers
duckduckgo-search
ddgs
primp
beautifulsoup4
requests
curl_cffi